<ion-footer-bar align-title="center" class="bar-stable">
    <div class="tabs tabs-icon-only">
      <a class="tab-item" ng-click="viewPlaylists()">
        <i class="icon ion-music-note"></i>
      </a>
      <a class="tab-item" ng-click="onHome()">
        <i class="icon ion-ios-home"></i>
      </a>
      <a class="tab-item" ng-click="onVolume()">
        <i class="icon ion-volume-medium"></i>
      </a>
      <a class="tab-item" ng-click="onExit()">
        <i class="icon ion-android-exit"></i>
      </a>
    </div>
</ion-footer-bar>
