<!-- Center content -->
<ion-side-menu-content>
    <ion-nav-bar ng-include="'header.ng.html'" class="bar-balanced" text-align="center"> </ion-nav-bar>
    <ion-nav-view>
      <ion-view>
        <ion-content>
            <div class="centerPane">
                <h3>Login with your Spotify Account</h3>
                <button ng-click="onLogin()" class="button button-full button-positive">Entrar</button>
            </div>
        </ion-content>
      </ion-view>
    </ion-nav-view>
</ion-side-menu-content>
